html {
    font-size: 20px;
}
.navigation {
width: 80%;
margin: 0 auto;
font-family: 'Rubik Beastly', cursive;
padding: 0;

}
.navigation-item{
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
    border: 1px dashed black;
    box-sizing: border-box;
    position: relative;
    
    

}
.navigation-item a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    padding: 1rem 0;
    cursor: cell;
}

.nav {
    position: absolute;
    top: 63px;
    height: 0;
    overflow: auto;
    transition: all .7s;
    list-style: none;
    padding: 0;
    
}
.navigation-item:hover .nav {
    height: 500px;
     
}
.nav-btm,.nav-btm2,.nav-btm3,.nav-btm4{
    /*border: 1px dashed black;
    box-sizing: border-box;*/
    padding-left: 50px;
    padding-right: 50px;

    
    
}

.nav-btm::after {
    content: "";
    background-image: url("../img/b04b7cee2aed3dc084759051b954fb4e.png");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: -75px -3px;
    background-size: 400px;

}
.nav-btm:nth-child(2)::after {
    background-position: -11px -3px;
}
.nav-btm:nth-child(3)::after {
    background-position: -343px -6px
}
.nav-btm:nth-child(4)::after {
    background-position: -144px -6px;
}
.nav-btm:nth-child(5)::after {
    background-position: -9px -61px;
}

.nav-btm2::after {
    content: "";
    background-image: url("../img/b04b7cee2aed3dc084759051b954fb4e.png");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: -208px -7px;
    background-size: 400px;
}
.nav-btm3::after {
    content: "";
    background-image: url("../img/b04b7cee2aed3dc084759051b954fb4e.png");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: -274px -7px;
    background-size: 400px;
}
.nav-btm3:nth-child(2)::after {
    background-position: -75px -66px;
}
.nav-btm3:nth-child(3)::after {
    background-position: -208px -66px;
}
.nav-btm4::after {
    content: "";
    background-image: url("../img/b04b7cee2aed3dc084759051b954fb4e.png");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: -340px -62px;
    background-size: 400px;
}
.nav-btm4:nth-child(2)::after {
    background-position: -140px -66px;
}
.nav-btm4:nth-child(3)::after {
    background-position: -273px -66px
}
.nav-btm4:nth-child(1n+4)::after {
    background-position: -7px -550px;
}
.nav-btm4:nth-child(5)::after {
    background-position: -72px -550px;
}
.nav-btm4:nth-child(6)::after {
    background-position: 191px -550px;
}
.nav-btm4:nth-child(7)::after {
    background-position: 125px -550px;
}
.nav-btm4:last-child::after {
    background-position: -339px -550px;
}



